@media (min-width:992px) {
   /* .navbar {
        background-color: transparent !important;
    }*/
    /*.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
        color: #555 !important;
    }*/
   /* .navbar .router-link-exact-active {
        border-bottom: #555 solid 2px !important;
        color: rgba(255,255,255,.75) !important;
    }*/

    .navbar.navbar-shrink {
        background-color: #343a40 !important;
    }
}

@media (max-width:992px) {
    .navbar {
        background-color: #343a40 !important; /*#607D8B*/
    }
}

@media (max-width:500px) {
    #home .wrap-banner {
       min-height: 500px !important;
       height: 500px;
        
    }
    h1.display-3 {
        font-size: 3.5em;
    }
}

html, body {
    height: 100%;
}

.navbar {
    transition: all 1s;
}

/*.bg-dark {
    background-color: #607D8B !important;
}*/

.navbar ul li a {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
}

.navbar .router-link-exact-active {
    border-bottom: #EEE solid 2px;
    color: #FFF !important;    
}

.navbar a {
    outline: none;
  }

.navbar-toggler {
	outline: none !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.8);
}

.navbar-shrink {
	box-shadow: #222 0px 1px 2px 2px;
}

section {
    padding-top: 100px;
}

#logo .fa.fa-bandcamp {
	font-size: 130px;
	text-shadow: 4px 4px 3px #000;
}

#home {
    height: 100%;
}

#home .wrap-banner {
    position: relative;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 750px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-title {
    color: #fff;
    z-index: 999;
}

#particles-js {
    background-image: url(assets/sky.871d198.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map {
    height: 350px;
}

#contacto {
    padding-top: 0;
    margin-bottom: 100px;
}

.contacto.jumbotron {
    background: url("../src/assets/contacto.jpg") no-repeat center center;
    color: #FFF;
    background-size: cover;
}