@import url("bootstrap.min.css");
@import url("font-awesome.min.css");

@media (min-width:992px) {
    .navbar {
        background-color: rgba(0,0,0,.7) !important;
    }
    /*.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
        color: #555 !important;
    }*/
   /* .navbar .router-link-exact-active {
        border-bottom: #555 solid 2px !important;
        color: rgba(255,255,255,.75) !important;
    }*/
}

@media (max-width:500px) {
    #home .wrap-banner {
        height: 450px !important;
    }
}

#home .wrap-banner {
   /* background-image: url("assets/back.jpeg");
	background-size: cover;
    background-position: top center;*/
    height: 700px;

	position: relative;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* height: 100%; */
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-title {
	color: #fff;
	z-index: 999;
}

#particles-js {
	background-image: url(assets/sky.871d198.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.navbar {
    transition: all 1s;
}

.navbar ul li a {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
}

.navbar .router-link-exact-active {
    border-bottom: #EEE solid 2px;
    color: #FFF !important;    
}

.navbar a {
    outline: none;
  }

section {
    margin-top: 100px;
}
